body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    overflow: hidden;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

h2{
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 5vw; 
    margin: 0%;
    padding-top: 20vw;
    padding-bottom: 20vw;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul{
    margin: 0;
}

.service-section {
    text-align: center;
    padding: 50px 20px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #6f00ff;
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .service-card {
    width: 200px;
    }
}

.service-card h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.6;
}

.icon img {
    width: 50px;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }
}

.fadeUpTrigger {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.fadeUp {
    opacity: 1;
    transform: translateY(0);
}

.mainp{
    text-align: center;
    font-size: 20px;
    margin: 15%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    vertical-align: middle; /* テキストを縦方向で中央揃え */
}

th {
    color: white;
}

tr:nth-child(odd){
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

#concept img {
    width: 400px;
    height: auto;
    max-width: 80%; 
    border-radius: 50%;
}

#concept .concept-area {
    position: relative;
    padding: 80px 0;
}

#concept .concept-area ul li {
    position: absolute;
}

.mainimg{
    text-align: center;
    margin: 70px;
    
}

.mainul li {
    list-style: none;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mainul li:nth-child(1){
    top: 12%;
    left: 17%;
    transform: rotate(15deg);
}

.mainul li:nth-child(2){
    top: 37%;
    left: 10%;
    transform: rotate(10deg);
}

.mainul li:nth-child(3){
    top: 65%;
    left: 12%;
    transform: rotate(-15deg);
}

.mainul li:nth-child(4){
    top: 12%;
    right:17% ;
    transform: rotate(-15deg);
}

.mainul li:nth-child(5){
    top: 37%;
    right: 10%;
    transform: rotate(-10deg);
}

.mainul li:nth-child(6){
    top: 65%;
    right:12%;
    transform: rotate(15deg);
}

